body {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../../img/overcast_4.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font: bold 3vh 'Montserrat', sans-serif;    
}