.map {
    height: 60vh;
    width: 80%;    
    border-radius: 8%;    
}
.search-container{
   justify-content: center;
   margin: 2%;
}
.input-field {
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    background-color: rgb(238, 236, 236);
}
.button {
    padding: 0.6vh 1.2vh;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 3px;
}
.button:hover {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow:0 0 15px rgb(117, 113, 113);
}
div > button:first-child {
    margin-right: 4%;    
}
.lang {    
    margin: 0 5%;
}
.temp, .location, .lang {
    display: flex;
}
div.location div:first-child {
    padding-right: 13px;
}


@media screen and (min-width: 768px) and (max-width: 991.98px) { 
    .input-field {
        width: 250px;         
    }    
    .location {
        margin-left: 10%;
    }
    .map {
        margin: 4% auto;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .input-field {
        width: 250px;                     
    }
    .location {
        margin-left: 10%;
    }
    .map {
        margin: 4% auto;
    }
 }
 @media (max-width: 576px) {
    .input-field {
        width: 188px;    
        height: 4vh;         
        margin-top: 12px;        
    }
    .location {
        margin-left: 10%;
    }
    .map {
        margin: 4% auto;
    }
    div > button:first-child {
        margin-right: 1%;    
    }
    div.location div:first-child {
        padding-right: 1%;
    }
    .lang {    
        margin: 0 1%;
    }
    .button {
        padding: 0.6vh 1.2vh;
        font-size: 4vw;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border-radius: 3px;
    }

}

