html {
    height: 100%;
}
main {
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.4);
}
.all-content {
    display: flex;
    width: 100%;
    height: 100%;    
    justify-content: space-around;
}

/*************************************
********aside************************/

.aside {
    justify-content: space-around;
    display: flex;   
    height: 100%;
    align-content: space-between;       
    flex-direction: column;    
    width: 30%;
}
.search-container{
    height: 20%;
    justify-content: space-around;
    display: flex;  
    flex-direction: column;    
}
.aside-header {
    display: flex;
    text-align: center;   
    font-size: 4vh;   
}
.lang {
    display: flex;
    margin: 0 5%;
}
div > button:first-child {
    margin-right: 4%;    
}
.en {
    margin-right: 5%;
}
.temp {
    display: flex;
}
.celsius {
    margin-right: 15%;
}
.button {
    padding: 0.5vh 1.2vh;
    font-size: 3vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.button:hover {
    background-color: rgba(252, 252, 252, 0.5);
}
.search {
    max-height: 4vw;    
}
.input-field {
    width: 15vw;    
    height: 4vh;
    border-radius: 5px;
}
.location {
    display: flex;    
}
div.location div:first-child {
    padding-right: 13px;
}
