
@media (max-width: 450px) {
    .all-content {       
        width: 100%;
        height: 100%;         
        display: block;   
    }
    .header {        
        font-size: 5vw;
        justify-content: flex-start;
    }       
    .weather-content {        
        display: block;
        height: initial;
    }
  .temperature {
    font-size: 35vh;    
    }
    .temp-container {
        display: flex;
        justify-content: flex-start;
    }
    .aside-header {        
        width: 28%;    
    }
    .aside {        
        box-sizing: border-box;
        padding-left: 6vw;
    }
    .input-field {
        width: 28vw;    
        height: 4vh;
    }
    .location {        
        justify-content: flex-start;
    }
}