@media screen and (max-width: 991.98px) { 
    h3 {
        font-size: 25px;   
    }
    .day {        
        font-size: 50px;
    }
    .day-icon {
        height: 60px;
    }
}
@media (max-width: 768px) {
    .map {
        margin: 0 auto;
    }
    .input-field {
        width: 100px;          
    }
}
@media (max-width: 576px) {
    

}